{% extends 'layout.html' %} 

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'challenges/challenges.css' %}" />
  <link rel="stylesheet" href="{% static 'challenges/header.css' %}" />
{% endblock css %}

{% block title %} 
    {{ month | title }} Challenge 
{%endblock %} 

{% block content %}
    {% include "challenges/partials/header.html" %}
    <h1 style="color: purple; margin-left: 1rem">{{ month | title }} Challenge</h1>
    <hr>
    <br />
    {% if challenges %}
        <div class="challenge-items">
            {% for item in challenges %}
                <p class="challenge-item">{{ item }}</p>
            {% endfor %}
        </div>
    {% else %}
        <p class="no-challenge-text">No challenge found for the month of {{ month | title }}</p>
    {% endif %} 
{% endblock content %}
