{% extends 'layout.html' %} {% block title %} 404: Not Found {% endblock %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'challenges/challenges.css' %}" />
  <link rel="stylesheet" href="{% static 'challenges/header.css' %}" />
{% endblock css %}


{% block content %}
  {% include "challenges/partials/header.html" %}
  <h3 style="color: purple; margin-left: 1rem; text-align: center">
    <span style="color: red">404: </span>  
    Oops! There's nothing here...
  </h3>
  <hr>
  <br />
  <p class="no-challenge-text">We could not find what you are looking for.</p>
{% endblock content %}
